<mat-card class="view-product">
  <mat-card-header>
    <div mat-card-avatar class="view-product-image"></div>
    <mat-card-title>{{ viewItem.name }}</mat-card-title>
    <mat-card-subtitle>Available: {{ viewItem.available ? 'Yes' : 'No' }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image width="450px" height="400px" src="../../../assets/shirt-2.jpeg" alt="Photo of a product">
  <mat-card-content>
    <p>
      {{ viewItem.description }}
    </p>
    <p>
      Price: ${{ viewItem.price }}
    </p>
    <p>
      Quantity: {{ viewItem.quantity }} units
    </p>
  </mat-card-content>
</mat-card>
